*.xcodeproj/*.mode*
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspective*
*.xcworkspace/*.mode*
*.xcworkspace/*.pbxuser
*.xcworkspace/*.perspective*
xcuserdata
xcshareddata/*.xccheckout
xcshareddata/*.xcscmblueprint

Podfile.lock
Pods
